.container
  .row
    .col-md-4
      p
        img.img-responsive(src= '../images/bootstrap_logo.png')
    .col-md-8
      h1 Twitter Bootstrap test
      h2 Testing Bootstrap and CSS optimization
      button.btn.btn-primary(type="button", data-toggle="modal", data-target="#my-modal") Launch demo modal
      .dropdown
        button#dropdownMenu1.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") Dropdown
          span.caret
        ul.dropdown-menu(aria-labelledby="dropdownMenu1")
          li
            a(href="#") Action
          li
            a(href="#") Another action
          li
            a(href="#") Something else here
          li.divider(role="separator")
          li
            a(href="#") Separated link

      #my-modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(arie-hidden="true") &times;
              h4.modal-title#myModalLabel Modal title
            .modal-body
              p Some text goes here
            .modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") Close
              button.btn.btn-primary(type="button") Save changes
      
