* {
  box-sizing: border-box;
}

html {
  min-width: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

#random {
  margin: 20px 0;
}

input + input {
  margin-left: 20px;
}

#search {
  padding: 2px;
}

#search:focus {
  box-shadow: 0 0 10px lightblue;
  border: rgba(0,0,0,0.01);
}

.container {
  margin-top: 20px;
}

.col-lg-3 {
  width: 24.5%;
}

.item {
  height: 220px;
  border: 1px solid grey;
  margin: 1px;
}

.item:hover {
  background: rgba(230, 230, 230, 0.4);
  box-shadow: 0 2px 10px rgba(0,100,250,.8);
}

a p {
  text-decoration: none;
  color: black;
}
